<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset name="shipping" label="COM_RADICALMART_SHIPPING">
		<field type="note" label="PLG_RADICALMART_SHIPPING_APISHIP"
			   description="PLG_RADICALMART_SHIPPING_APISHIP_DESCRIPTION"/>
		<field name="shipping_apiship_yandex_key" type="text"
			   label="PLG_RADICALMART_SHIPPING_APISHIP_CONFIG_YANDEX_KEY"
			   class="input-xxlarge"/>
	</fieldset>
</form>